{% load static tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dashboard</title>
    <STYLE>
         body {
            background-color: #343a40;
            color: white;
        }
    </STYLE>


    </head>
<body class=" w-100">
<nav class="navbar container navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Heavns Garden</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'order_list' %}">Orders List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'online-order_list' %}">Online orders List<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        {#        <form class="d-flex">#}
        {#            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>

<div class="container">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">created time</th>
      <th scope="col">name</th>
      <th scope="col">finish date</th>
    </tr>
  </thead>
  <tbody>
  {% for i in orders %}

    <tr>
      <th scope="row">{{ i.id }}</th>
      <td><a href="{% url 'dashboard' %}">{{ i.created_at }}</a></td>
      <td>{{ i.user_name }}</td>
      <td>{{ i.finish_date }}</td>

    </tr>

  {% endfor %}
  </tbody>
</table>
</div>
<script src="{% static 'js/jquary.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>